.root {

    -fx-background-image: url("../images/Wallpaper.jpg"), url("../images/header.png");

    -fx-background-size: cover, auto;


    -fx-background-position: center, top;


    -fx-background-repeat: no-repeat, no-repeat;


    -fx-padding: 0;
    -fx-margin: 0;
}
